
.board {
  display: grid;
  width: 140px;
  height: 140px;
  perspective: 600px;
}

.match {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  place-self: center;
}

.gap {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}

